<!-- 为了让html5shiv生效，请将所有的CSS都添加到此处 -->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/js.php?f=static/qtip/jquery.qtip.css,js/ext/atwho/atwho.css,static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css&v={$site.sys_version}.css"/>
<script type="text/javascript" src="__PUBLIC__/js.php?f=js/com/com.notify.class.js,static/qtip/jquery.qtip.js,js/ext/slimscroll/jquery.slimscroll.min.js,js/ext/magnific/jquery.magnific-popup.min.js,js/ext/placeholder/placeholder.js,js/ext/atwho/atwho.js,zui/js/zui.js,static/jquery.iframe-transport.js&v={$site.sys_version}.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.all();
</script>
